@import '../../mixin.scss';

.nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1000;

    a {
        margin-left: 1rem;
        width: 80px;
        object-fit: contain;
        height: auto;
        @include sm-tablet {
            margin-left: 2rem;
        }
    }

    &_avatar {
        margin-right: 1rem;
        width: 40px;
        object-fit: contain;
        height: auto;
        @include sm-tablet {
            margin-right: 2rem;
        }
    }

    &.darkBackground {
        background-color: black;
        transition: all 0.4s ease-in-out;
    }
}
