@import '../../mixin.scss';

.nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    // background-color: $black;
    z-index: 1;
    backdrop-filter: blur(5px);
    @include tablet {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        height: 80px;
        z-index: 1000;
    }

    a {
        margin: 0 2rem 0 1rem;
        width: 80px;
        object-fit: contain;
        height: auto;
        @include sm-tablet {
            margin-left: 2rem;
        }
    }

    input {
        flex: 1;
        height: 40px;
        max-width: 100%;
        background-color: rgba(255, 255, 255, 1);
        color: $black;
        border-radius: 30px;
        padding: 0 2rem;
        @include tablet {
            max-width: 40%;
            height: 50px;
        }
    }

    &_avatar {
        flex: 0.2;
        margin: 0 1rem 0 1rem;
        width: 40px;
        max-width: 40px;
        object-fit: contain;
        height: auto;
        @include sm-tablet {
            margin: 0 1rem 0 auto;
        }
    }

    &.darkBackground {
        background-color: $black;
        transition: all 0.4s ease-in-out;
    }
}
