@import '../../mixin.scss';

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 100vh;

    .loginForm {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 400px;
        min-height: 450px;
        border-radius: 5px;
        padding: 2rem;
        @include phone {
            background-color: #111;
        }

        svg {
            margin-bottom: 1rem;
            margin: 0 auto;
        }

        h1 {
            color: white;
            font-size: 2rem;
            font-weight: 600;
            text-align: center;
            margin-bottom: 1rem;
        }

        .inputContainer {
            margin-bottom: 1rem;

            label {
                font-size: 0.8rem;
                color: #eee;
            }

            input {
                border-radius: 5px;
                margin: 0.5rem 0 0 0;
                background-color: #333;
                width: 100%;
                height: 40px;
                color: white;
                @include phone {
                    background-color: #333;
                }
            }
        }

        p {
            font-size: 0.8rem;
        }

        button {
            font-weight: 600;
            margin-top: 1rem;
            color: white;
            background-color: $netflix-red;
            @include phone {
                background-color: $netflix-red;
            }
        }
    }
}
