.media_content {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0 0 1.5rem 0;
    transition: 1s ease-in-out;
    display: flex;
    align-items: flex-start;

    img {
        margin: 0;
        width: 100px;
        height: 100px;
        border-radius: 5px;
        object-fit: cover;
    }

    .content {
        flex: 1;
        padding: 0 1rem;

        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h1 {
                font-size: 1rem;
            }
        }

        .release_date {
            opacity: 0.4;
            font-size: 0.8rem;
            margin-top: 0.3rem;
        }

        .overview {
            opacity: .8;
        }
    }
}