@use '../../mixin.scss';

.mediacard {
    position: relative;
    width: max-content;
    height: max-content;
    margin-right: 0.5rem;
    @include mixin.sm-tablet {
        margin-right: 1rem;
    }

    &:hover {
        .mediacard_info {
            visibility: visible;
            opacity: 1;
            transition: 0.4s ease-in-out;
        }
    }

    img {
        width: 100px;
        height: 150px;

        @include mixin.sm-tablet {
            width: 200px;
            height: 300px;
        }
    }

    &_info {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: max-content;
        padding: 0.8rem;
        background: mixin.$black;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include mixin.tablet {
            position: absolute !important;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            background-color: rgba(0, 0, 0, 0.9);
        }

        .media_container {
            display: flex;

            img {
                width: 100px;
                height: 150px;
                background-size: cover;
                background-position: center;
                object-fit: cover;

                @include mixin.tablet {
                    display: none;
                }
            }

            .content {
                margin-left: 0.8rem;

                @include mixin.tablet {
                    margin: 0;
                }

                h1 {
                    font-size: 1rem;
                }

                span {
                    opacity: 0.6;
                    font-size: 0.8rem;
                }

                p {
                    font-size: 0.8rem;
                }
            }
        }

        .action_buttons {
            width: 100%;
            height: max-content;
            display: flex;
            align-items: center;
            margin-top: 1rem;

            @include mixin.tablet {
                flex-direction: column;
            }

            button,
            a {
                width: 100%;
                font-size: 0.8rem;
                text-align: center;
                border-radius: 5px;
                padding: 0.5rem 1rem;
                transition: 0.4s ease-in-out;

                &:hover {
                    color: mixin.$black;
                    background: whitesmoke;
                }
            }
        }
    }
}
