@import '../../mixin.scss';

.row {
    margin-top: 1rem;
    width: 100%;
    object-fit: contain;
    padding: 0 1rem;
    @include sm-tablet {
        padding: 0 2rem;
    }

    &_title {
        color: #eee;
        font-size: 1.2rem;
        @include sm-tablet {
            font-size: 2rem;
        }
    }

    &_postersContainer {
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
        padding: 1rem 0;
        cursor: pointer;

        &::-webkit-scrollbar {
            display: none;
        }

        &_image {
            object-fit: contain;
            width: 100%;
            max-height: 200px;
            margin-right: 1rem;
            transition: transform 0.4s;
            @include phone {
                max-height: 300px;
            }

            &:hover {
                transform: scale(1.08);
            }
        }
    }
}
