@import '../../mixin.scss';

.searchResults {
    input {
        background-color: white;
        color: black;
        width: 100%;
        margin: 0 2rem;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    &_container {
        padding: 4rem 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
        grid-template-rows: repeat(auto-fit, minmax(200px, 300px));
        grid-gap: 1rem;
        @include tablet {
            padding: 6rem 4rem;
        }

        &_image {
            cursor: pointer;
            width: 100%;
            max-height: 200px;
            margin-right: 1rem;
            transition: transform 0.4s;
            @include phone {
                max-height: 300px;
            }
            transition: 0.4s ease-in-out;

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
                object-position: top center;
                transition: 0.4s ease-in-out;
                @include sm-tablet {
                    width: 200px;
                    height: 300px;
                }
            }

            &:hover {
                transform: scale(1.08);
            }
        }
    }
}
