@import '../../mixin.scss';

.searchResults {
    input {
        width: 90%;
        background-color: white;
        color: $black;
        margin-top: 1rem;
        border-radius: 30px;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

    &_container {
        padding: 4rem 1rem;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        @include tablet {
            justify-content: flex-start;
            padding: 6rem 4rem;
        }

        &_image {
            cursor: pointer;
            width: max-content;
            max-height: 200px;
            margin: 0 1rem 2rem 0;
            transition: 0.4s ease-in-out;
            @include phone {
                max-height: 300px;
            }

            img {
                width: 100px;
                height: 150px;
                object-fit: cover;
                object-position: top center;
                transition: 0.4s ease-in-out;
                @include sm-tablet {
                    width: 200px;
                    height: 300px;
                }
            }

            &:hover {
                transform: scale(1.08);
            }
        }
    }
}
